body {
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

ul {
    font-weight: 500;
}

#middle {
    font-size: 35px;
    font-weight: 600px;
}

#date {
    font-size: 20px;
}

#sun-icon {
    margin-bottom: 15px;
}

#fahrenheit-link,
#celsius-link {
    font-size: 15px;
    font-weight: 300;
}

#icon {
    width: 80px;
}

#city {
    font-size: 30px;
    font-weight: 450;
    margin-top: 50px;
    max-width: 150px;
    max-height: 150px;
}

.temperature {
    font-size: 30px;
    font-weight: 300;
}

#sunrise {
    font-weight: 300;
}

#sunset {
    font-weight: 300;
}

#humidity {
    font-weight: 300;
}

#humidity-and {
    font-weight: 390;
}

#wind {
    font-weight: 300;
}

#wind-km {
    font-weight: 390;
}

#description {
    font-weight: 300;
}

.pictures {
    vertical-align: middle;
}

.weather-app {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.01);
    padding: 25px;
    border-radius: 6px;
    max-width: 900px;
    max-height: 600px;
    margin: 20px auto;
}

.weather-svg {
    width: 130%;
    height: auto;
    margin-top: 50px;
    margin-right: 50px;
}

.col-3 .active {
    color: black;
    cursor: default;
    vertical-align: middle;
    text-decoration: none;
}

.col-3 .active:hover {
    text-decoration: underline;
}

.col-3 .actives {
    color: dodgerblue;
    cursor: default;
    vertical-align: middle;
    text-decoration: none;
}

.col-3 .actives:hover {
    text-decoration: underline;
}