*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: -webkit-fill-available;
}

.container {
    max-width: 920px;
    min-height: 300px;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient( 90deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 100%);
    color: black;
    max-width: 100%;
    height: -webkit-fill-available;
}

li {
    list-style: none;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 20px;
}

ul {
    font-weight: 500;
}

#middle {
    font-size: 35px;
    font-weight: 600px;
    line-height: 50px;
}

#date {
    font-size: 20px;
    padding-bottom: 20px;
}

#sun-icon {
    margin-bottom: 15px;
}

#fahrenheit-link,
#celsius-link {
    font-size: 15px;
    font-weight: 300;
}

#icon {
    width: 80px;
    z-index: 1;
    animation: jump 1.7s linear infinite alternate;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#city {
    font-size: 30px;
    font-weight: 450;
    margin-top: 50px;
    max-width: 150px;
    max-height: 150px;
}

.temperature {
    font-size: 30px;
    font-weight: 300;
}

#humidity {
    font-weight: 300;
}

#humidity-and {
    font-weight: 390;
}

#wind {
    font-weight: 300;
}

#wind-km {
    font-weight: 390;
}

#descript {
    text-align: left;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 300;
}

#description {
    font-weight: 300;
}

#forecast {
    padding-top: 40px;
    text-align: center;
}

.pictures {
    vertical-align: middle;
}

.weather-app {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.352);
    padding: 25px;
    border-radius: 6px;
    max-width: 900px;
    max-height: 600px;
    margin: 20px auto;
}

.weather-svg {
    width: 130%;
    height: auto;
    margin-top: 50px;
    margin-right: 50px;
}

.col-3 .active {
    color: black;
    cursor: default;
    vertical-align: middle;
    text-decoration: none;
}

.col-3 .active:hover {
    text-decoration: underline;
}

.col-3 .actives {
    color: black;
    cursor: default;
    vertical-align: middle;
    text-decoration: none;
}

.col-3 .actives:hover {
    text-decoration: underline;
}

.forecast-date {
    font-size: 16px;
    font-weight: 500;
}

.forecast-temperature-min {
    opacity: 0.4;
}

#esraayaz {
    text-align: left;
    display: flex;
    font-size: 12px;
    padding-left: 0px;
}